<a href="https://colab.research.google.com/github/rafayel404/Pandas/blob/main/Task_4_Pandas_S19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [21]:
titanic_df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [51]:
titanic_df['Missing_age']=titanic_df['Age'].isnull()
cls=titanic_df.groupby('Pclass')[['Age','Missing_age']].agg({'Age':'mean','Missing_age':'sum'})
cls

              Age  Missing_age
Pclass
1       38.233441           30
2       29.877630           11
3       25.140620          136

In [28]:
# alternative
cls=titanic_df.groupby('Pclass')

cls.groups.keys()

dict_keys([1, 2, 3])

In [48]:
for group_name in cls.groups.keys():
  print(f'Average age in class {group_name} is {cls.get_group(group_name)["Age"].mean()} and Missing value is {cls.get_group(group_name)["Age"].isnull().sum()}' )

Average age in class 1 is 38.233440860215055 and Missing value is 30
Average age in class 2 is 29.87763005780347 and Missing value is 11
Average age in class 3 is 25.14061971830986 and Missing value is 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [71]:
cls=titanic_df.groupby('Pclass')

for group in cls.groups.keys():
  m=cls.get_group(group)['Embarked'].mode()
  e=cls.get_group(group)['Embarked'].fillna(m)
  print(f'Pclass is {group} and {e.value_counts()}')

Pclass is 1 and Embarked
S    127
C     85
Q      2
Name: count, dtype: int64
Pclass is 2 and Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
Pclass is 3 and Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

In [66]:
cls=titanic_df.groupby('Pclass')

for group,data in cls:
  data['Embarked'].fillna(data['Embarked'].mode())
  print(data['Embarked'].value_counts(ascending=False))

Embarked
S    127
C     85
Q      2
Name: count, dtype: int64
Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [74]:
em=titanic_df.groupby('Embarked')

In [86]:
res={}
for  group,data in em:
  pls=data.groupby('Pclass')
  r={}
  for g,d in pls:
    r[g]=float(round(d['Fare'].mean(),2))
  res[group] =r
res

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.36, 2: 20.33, 3: 14.64}}

In [87]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [89]:
pd.set_option('display.max_columns', None)
fifa_df.head(5)

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

In [114]:
# code here
def z_normalization(group, cols_to_perform):
    for col in cols_to_perform:
        std = group[col].std()
        mean = group[col].mean()
        group[f"{col}_z_norm"] = (group[col] - mean)/std
    return group


cols_to_perform = ["Passes", "Passes Completed", "Attempted Line Breaks", "Completed Line Breaks"]
groups = fifa_df.groupby("Team")
groups = groups.apply(z_normalization, cols_to_perform,include_groups=False)
groups = fifa_df.groupby("Team")
groups.agg(
{
    "Passes": ["min", "max"],
    "Yellow Cards": ["min", "max", "mean"],
    "Attempted Line Breaks": ["max", "min", "std"],
    "Possession (%)": "mean"
})

               Passes       Yellow Cards               Attempted Line Breaks  \
                  min   max          min max      mean                   max
Team
Argentina         408   862            0   8  2.285714                   249
Australia         286   466            0   3  1.750000                   171
Belgium           512   685            1   3  1.666667                   195
Brazil            548   695            0   3  1.200000                   193
Cameroon          295   500            1   5  2.666667                   182
Canada            448   536            2   4  2.666667                   176
Costa Rica        231   454            1   3  2.000000                   154
Croatia           461   724            0   2  1.142857                   259
Denmark           537   650            1   2  1.666667                   241
Ecuador           429   484            0   2  1.000000                   177
England           508   810            0   1  0.200000                   208
France            358   734            0   3  1.142857                   179
Germany           352   827            0   3  1.000000                   256
Ghana             319   460            2   4  2.666667                   188
Iran              232   463            2   3  2.333333                   195
Japan             225   591            0   3  1.500000                   253
Korea Republic    359   548            1   2  1.500000                   201
Mexico            356   500            1   4  2.333333                   198
Morocco           229   583            0   3  1.285714                   157
Netherlands       403   786            0   4  1.800000                   198
Poland            303   466            1   3  1.750000                   156
Portugal          461   678            0   3  1.200000                   197
Qatar             424   457            0   4  2.333333                   174
Saudi Arabia      267   560            2   6  4.666667                   205
Senegal           277   511            1   3  1.750000                   184
Serbia            403   513            2   7  4.000000                   184
Spain             647  1070            0   1  0.500000                   237
Switzerland       403   512            1   4  2.250000                   178
Tunisia           328   501            1   3  1.666667                   200
United States     427   572            0   4  1.250000                   204
Uruguay           390   528            1   3  2.000000                   186
Wales             325   508            1   2  1.666667                   208

                               Possession (%)
                min        std           mean
Team
Argentina       141  38.774685      49.285714
Australia       133  17.682383      31.250000
Belgium         167  14.422205      49.000000
Brazil          164  10.691118      50.400000
Cameroon        144  19.857828      38.333333
Canada          102  37.753587      44.333333
Costa Rica       86  38.974351      27.333333
Croatia          97  54.499891      47.428571
Denmark         173  34.000000      51.333333
Ecuador         143  17.009801      42.666667
England         133  29.676590      57.200000
France          126  21.407609      44.857143
Germany         143  56.624494      53.000000
Ghana           122  33.020196      37.000000
Iran             56  77.526340      31.666667
Japan           104  64.048810      30.250000
Korea Republic  139  27.072434      42.250000
Mexico          127  40.706265      46.666667
Morocco         128  10.641339      34.285714
Netherlands     168  12.759310      44.000000
Poland           79  36.326070      32.000000
Portugal        165  13.049904      53.800000
Qatar           159   7.767453      39.333333
Saudi Arabia    147  29.022979      36.666667
Senegal         143  16.938615      38.500000
Serbia          140  22.188586      42.666667
Spain           186  24.289916      67.000000
Switzerland     157   9.032349      43.000000
Tunisia         153  24.419937      38.666667
United States   143  27.693260      47.000000
Uruguay         146  22.030282      41.000000
Wales           104  53.028294      41.000000

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [117]:
balls = pd.read_csv("/content/ipl_deliveries.csv")
balls.head(2)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [120]:
df=balls.query('innings==2')

In [148]:
df.groupby(["ID", "batter"])['batsman_run'].sum().sort_values(ascending=False).head(5)

ID       batter
501206   PC Valthaty      120
501243   V Sehwag         119
1254061  SV Samson        119
1136620  SR Watson        117
336018   ST Jayasuriya    114
Name: batsman_run, dtype: int64

In [149]:
#2
temp_df = df[~(df.extra_type == "wides")]
temp_df = temp_df.groupby("batter").agg(
{
    "batsman_run": "sum",
    "ballnumber": "count"
})
temp_df["strike_rate"] = temp_df["batsman_run"] / temp_df["ballnumber"] * 100
temp_df[temp_df["ballnumber"] >= 100].sort_values("strike_rate", ascending = False).reset_index().head()

           batter  batsman_run  ballnumber  strike_rate
0      PJ Cummins          222         114   194.736842
1      AD Russell          986         570   172.982456
2  LS Livingstone          182         107   170.093458
3       SP Narine          599         356   168.258427
4      SO Hetmyer          330         200   165.000000

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [151]:
balls["IsBatterOut"] = (balls.batter == balls.player_out)&(~balls.kind.isin(['run out', 'retired hurt', 'retired out']))
balls.groupby(["bowler", "batter"]).agg({
    "IsBatterOut": "sum",
    "batsman_run": "sum"
}).sort_values(by=["IsBatterOut", "batsman_run"], ascending = [False, True]).head(10)

                           IsBatterOut  batsman_run
bowler         batter
Z Khan         MS Dhoni              7           74
Sandeep Sharma V Kohli               7           78
A Mishra       RG Sharma             7           87
R Ashwin       RV Uthappa            7          123
SP Narine      RG Sharma             7          137
R Vinay Kumar  RG Sharma             6           22
YS Chahal      Q de Kock             6           44
JJ Bumrah      RR Pant               6           48
RA Jadeja      GJ Maxwell            6           49
MM Sharma      AT Rayudu             6           52

### `Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [153]:
import numpy as np
def func(x):
    return '-'.join(list(np.sort(x.values)))
balls["batter-pair"] = balls[["batter", "non-striker"]].apply(func, axis = 1)
balls.groupby("batter-pair")["total_run"].sum().sort_values(ascending = False).head()

batter-pair
AB de Villiers-V Kohli    3134
CH Gayle-V Kohli          2802
DA Warner-S Dhawan        2357
G Gambhir-RV Uthappa      1906
KL Rahul-MA Agarwal       1731
Name: total_run, dtype: int64

### `Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [154]:
temp_df = balls.groupby("batter-pair").agg(
{
    "total_run": "sum",
    "ballnumber": "count",
    "isWicketDelivery": "sum"
}).reset_index()
temp_df["Batsman 1"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[0])
temp_df["Batsman 2"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[1])
temp_df.rename(columns = {"total_run": "Runs"}, inplace=True)
temp_df["StrikeRate"] = temp_df["Runs"] / temp_df["ballnumber"] * 100
temp_df["Avg"] = temp_df["Runs"] / temp_df["isWicketDelivery"]
temp_df.sort_values("Runs", ascending = False, inplace=  True)
temp_df[["Batsman 1", "Batsman 2", "Runs", "Avg", "StrikeRate"]]

           Batsman 1    Batsman 2  Runs        Avg  StrikeRate
302   AB de Villiers      V Kohli  3134  44.140845  152.209811
1251        CH Gayle      V Kohli  2802  52.867925  142.017233
1508       DA Warner     S Dhawan  2357  48.102041  136.637681
1954       G Gambhir   RV Uthappa  1906  39.708333  133.754386
2803        KL Rahul   MA Agarwal  1731  52.454545  142.939719
...              ...          ...   ...        ...         ...
34       A Choudhary     S Badree     0   0.000000    0.000000
4215        T Stubbs  Tilak Varma     0   0.000000    0.000000
64          A Mishra     CL White     0   0.000000    0.000000
3114  M Muralitharan      MS Gony     0   0.000000    0.000000
3107        M Morkel     S Nadeem     0   0.000000    0.000000

[4259 rows x 5 columns]